.main
{
 margin-top: 15px;
 margin-left: 350px;
 width:1220px; 
 height: 900px; 
 background-color: whitesmoke;
}
.blockFriend
{
 background-color: white; 
 width:350px; 
 height:450px; 
 float:left; 
 margin-left: 15px; 
 margin-top: 15px;
}
p
{
 text-align: center; 
 font-family: 'Open Sans';
}
.avatar
{
 width: 150px;
 height: 150px;
 background-size: cover;
 background-position: center;
 border-radius: 50%; 
 margin:55px auto;
}