<main style="margin-top: 50px; width:1110px; background-color:#E0E6EB; height: 900px; margin-left: 350px; border-radius:3px;">
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
    <img src="img/mot.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="img/mot2.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="img/mot3.jpg" style="width:100%;">
  </div>
</main>