<main class="main">
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
    <img src="img/mot.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="img/mot2.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="img/mot3.jpg" style="width:100%;">
  </div>
</main>