<main class="main">
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
    <img src="/assets/images/mot.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="/assets/images/mot2.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="/assets/images/mot3.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
      <img src="/assets/images/mot4.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="/assets/images/mot5.jpg" style="width:100%;">
  </div>
  <div style="width:25%; height: auto; background-color: white; padding:15px; float: left; margin:15px;">
   <img src="/assets/images/mot6.jpg" style="width:100%;">
  </div>
</main>