 <main style="margin-top: 50px; width:1110px; background-color: #f0f2f4; height: 650px; 
              margin-left: 350px; padding-top:25px; padding-left:15px;">
  <div style="width:100%;">
  <form #form ="ngForm" (ngSubmit) = "submit(form)">
   <!-- <input type="text" 
          placeholder="Заголовок..." 
          ngModel
          #header = "ngModel"
          name = "header"
          class="header" 
          required
          (change) = "firePost(header)"
    /> -->
  <md-input-container>
    <input type="text" ngModel name = "head" class="header" mdInput placeholder="Заголовок..." required >
    <md-error>
      Не залишайте мене пустим...
    </md-error>
  </md-input-container>
  <md-input-container>
    <textarea placeholder="Зміст мрії..." 
              ngModel
              #dream = "ngModel"
              name = "dream"
              class="textarea"
              required
              mdInput
    >
    </textarea>
  </md-input-container>  
    <!-- <label style="font-size:18px; font-family:'Open Sans';">
      <input type="checkbox" value="comments" ngModel #comment = "ngModel" name="comment">
    Дозволити коментарі</label> -->
    <md-checkbox>Дозволити коментарі</md-checkbox>
    <br/>
    <!-- <label style="font-family: 'Open Sans'; font-size:18px;">
      <input type="checkbox" ngModel #forever = "ngModel" name = "forever" value="forever">Вічна мрія</label>
    <br/> -->
    <md-checkbox>Вічна мрія</md-checkbox>    
    <label style="font-size:18px; font-family:'Open Sans';">Дата виконання: 
      <input 
            type="date" 
            name="day" 
            min="2017-08-17"
            ngModel
            #day = "ngModel"
            mdInput
     style="width:25%; font-size: 18px; border: 0px; border-bottom: 1px solid grey; padding:5px; font-family: 'Open Sans'; font-size:16px; background-color: whitesmoke;"></label> <span style="font-size:36px;">|</span>
      <input type="text" placeholder="Описати словами..." style="width:25%; font-size: 18px;
     border: 0px; border-bottom: 1px solid grey; padding:5px; font-family: 'Open Sans'; background-color: whitesmoke;" >
    <br/>
    <!--  <label style="font-family: 'Open Sans'; font-size:18px; margin-left:470px;">Доступність 
    <select ngModel name = "vision" #vision = "ngModel" style="font-size:16px; background-color: whitesmoke;">
      <option value="0">Лише Я</option>
      <option value="1">Доступно кожному</option>
      <option value="2">Лише друзям</option>
      <option value="3">Футбольна команда</option>
      <option *ngFor="let group of groups" [value]="group.id">
        {{group.name}}
      </option>
    </select>  </label>-->
    <md-button-toggle (click) = "OpenDialog()">Open Dialog</md-button-toggle>
    <md-select  placeholder="Доступність">
     <md-option value="0">Лише Я</md-option>
     <md-option value="1">Доступно кожному</md-option>
     <md-option value="2">Лише друзям</md-option>
     <md-option value="3">Футбольна команда</md-option>      
     <md-option *ngFor="let group of groups" [value]="group.id">
        {{group.name}}      
     </md-option>
    </md-select>
    <!-- <div style="width:250px; height: 155px; background-color:#FAFBFC; 
                border: dotted 2px grey; text-align: center; font-size:14px; font-family:'Open Sans'; padding-top:100px; 
                position: absolute; top:185px; left:850px;">
     Додати зображення, що характеризують задум...
    </div> -->
    <input type="submit" class="but" style="margin-left:30px; margin-top:100px;" value="Go">
    <md-button-toggle type="submit">Готово!</md-button-toggle>    
  </form>
  </div>
</main>