 <main class="main">
  <div style="width:100%;">
  <form #form ="ngForm" (ngSubmit) = "submit(form, members)">
   <!-- <input type="text" 
          placeholder="Заголовок..." 
          ngModel
          #header = "ngModel"
          name = "header"
          class="header" 
          required
          (change) = "firePost(header)"
    /> -->
  <md-input-container style="margin-left:30px; margin-bottom:0px;">
    <input type="text" class="header" ngModel name = "head" class="header" mdInput placeholder="Заголовок..." required >
    <md-error>
      Не залишайте мене пустим...
    </md-error>
  </md-input-container>
  <div>    
  <md-input-container style="margin-left:30px; margin-top:15px; margin-right:30px; display:block; float:left; width:450px;">
    <textarea placeholder="Зміст мрії..." 
              ngModel
              #dream = "ngModel"
              name = "dream"
              class="textarea"
              required
              mdInput
    >
    </textarea>
  </md-input-container>  
    <!-- <label style="font-size:18px; font-family:'Open Sans';">
      <input type="checkbox" value="comments" ngModel #comment = "ngModel" name="comment">
    Дозволити коментарі</label> -->
    <md-checkbox [value] = "comments" ngModel #comment = "ngModel" style="margin-top:50px; position:absolute;" name="comment">Дозволити коментарі</md-checkbox>
    <br/>
    <!-- <label style="font-family: 'Open Sans'; font-size:18px;">
      <input type="checkbox" ngModel #forever = "ngModel" name = "forever" value="forever">Вічна мрія</label>
    <br/> -->
    <md-checkbox ngModel #forever = "ngModel" name = "forever" style="margin-top:65px; position:absolute;">Вічна мрія</md-checkbox>    
    <!-- <md-form-field>
      <input mdInput [mdDatepicker]="picker" placeholder="Дата виконання:">
      <md-datepicker-toggle mdSuffix [for]="picker">Дата виконання:</md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
    </md-form-field> -->
    <label style="font-size:18px; font-family:'Open Sans'; position:absolute; margin-top:95px; ">Дата виконання: 
      <input 
            type="date" 
            name="day" 
            min="2017-08-17"
            ngModel
            #day = "ngModel"
            mdInput
     style="width:168px; font-size: 18px; border: 0px; border-bottom: 1px solid grey; padding:5px; font-family: 'Open Sans'; font-size:16px; background-color: whitesmoke;">
    </label>
    <br/>
     <!-- <label style="font-family: 'Open Sans'; font-size:18px; margin-left:470px;">Доступність 
    <select ngModel name = "vision" #vision = "ngModel" style="font-size:16px; background-color: whitesmoke;">
      <option value="0">Лише Я</option>
      <option value="1">Доступно кожному</option>
      <option value="2">Лише друзям</option>
      <option value="3">Футбольна команда</option>
      <option *ngFor="let group of groups" [value]="group.id">
        {{group.name}}
      </option>
    </select>  </label> -->
    <div style="position:absolute; margin-top:0x; left:1175px;">
     <ul style="list-style:none;">
      <li *ngFor = "let friend of friendData">
        <md-checkbox ngModel name = "mem" #mem = "ngModel" [value] = "friend.uid" [id] = "friend.username" (change) = "checkFriend($event)">{{friend.username}}</md-checkbox>
      </li>
     </ul>
     <ul>
       <li *ngFor = "let member of members">
        {{member.username}}
      </li>
     </ul>
    </div>
   <div>
    <md-select  placeholder="Доступність" ngModel name = "vision" #vision = "ngModel"
     style="float:left; margin-top:425px;">
     <md-option value="0">Лише Я</md-option>
     <md-option value="1">Доступно кожному</md-option>
     <md-option value="2">Лише друзям</md-option>
     <md-option value="3">Футбольна команда</md-option>      
     <md-option *ngFor="let group of groups" [value]="group.id">
        {{group.name}}      
     </md-option>
    </md-select>
    <input type="submit" class="but" style="margin-left:30px; margin-top:425px; position:absoulte;" value="Створити">    
   </div>
  </div>
    <!-- <div style="width:250px; height: 155px; background-color:#FAFBFC; 
                border: dotted 2px grey; text-align: center; font-size:14px; font-family:'Open Sans'; padding-top:100px; 
                position: absolute; top:185px; left:850px;">
     Додати зображення, що характеризують задум...
    </div> -->
  </form>
  </div>
</main>