<div class="container" id="cliker2">
  
   <div class="post">
    <div class="author">Andrew Muliar</div>
    <div class="header">{{data.header}}</div>
    <div class="dream">{{data.dream}}</div>
    <div class="images" style="padding-top:20px; height: auto;">
      <img src="Logo.png" style="display:block; height:auto; max-width:100%;">
    </div>
  
    <div class="member" style="margin-top:10px;">
     <img src="moon.png" style="max-width:40px; display: inline-block; float:left; padding:7px;">
     <span>Andrew Muliar</span>
    </div>  
  
    <div class="member">
     <img src="moon.png" style="max-width:40px; display: inline-block; float:left; padding:7px;">
     <span>Муляр Андрій</span>
    </div>  
  
    <div class="member">
     <img src="moon.png" style="max-width:40px; display: inline-block; float:left; padding:7px;">
     <span>Andrew Muliar</span>
    </div>
    <div class="forever">Forever dream</div>
    <div class="date">{{data.date}}</div>
    <div class="comments">
      <ul>
       <li>My comment hello</li>
       <li>My comment hello</li>
       <li>My comment hello</li>
       <li>My comment hello</li>
      </ul>
      <input type="text" style="width:330px; font-size: 16px; margin:5px 10px;" placeholder="Написати свій коментар...">
    </div>
   </div>
  
   <div class="options">
   <div id="map" style="width:100%; height:250px;">
  
   </div>
    <div class="forText">{{data.for_date}}</div>
    <div class="clocker">
      <div class = "bigDate">13 січня 2017</div>
      <div class = "smallDate">22:23:20</div>
    </div>
    <div class="sponsor">
      <img src="Logo.png" style="width: 75px; margin:5px;">
      <img src="nokia.jpg" style="width: 75px; margin:5px;">
      <img src="mers.png" style="width: 100px; margin:5px;">
      <img src="pepsi.png" style="width: 50px; margin:5px;">
    </div>
   </div>
  </div>
  