 <main class="main">
  <input type="text"
         ngModel
         #groupName = "ngModel" 
         name="groupName" 
         placeholder="Назва для нової групи..."
         style="width:300px; display: block; 
                margin-left: 50px; 
                font-size:16px; 
                font-family: 'Open Sans';">
  <input type="button" 
         value="Створити групу" 
         (click) = "createGroup(groupName.value)">
 <div style="width:1100px; height:100px; 
             background-color: orange; float:left; 
             margin-left: 50px; margin-top:15px;">
  <ul style="width:100%; height: 130px; list-style: none;">
   <li *ngFor = "let group of groups"
    style="float:left; width: 15%; margin-top:15px;  margin-left: 60px; margin-right:15px; background-color: white; border-radius: 3px; height:50%;">
    <p style="text-align:center; font-size: 18px; font-family: 'Open Sans';">{{group.name}}</p>
    <input type="button" value = "ShowUsers" (click) = "showUsers(group)" >
   </li>   
  </ul> 
 </div>
 <ul>
   <li *ngFor = "let user of users">
    {{user.username}}
  </li>
 </ul>

</main>